@import '../../../../variables';

.page {
  margin-top: 40px;
  margin-bottom: 80px;

  .page-header {
    margin-bottom: 20px;

    .page-title {
      font-size: $font-size-huge;
      margin-bottom: 5px;
    }

    .back-link {
      display: inline-block;
      cursor: pointer;
      color: $color-blue;

      &:hover {
        color: $color-dark-blue;
      }
    }

    .share-link {
      display: inline-block;
      float: right;
      cursor: pointer;
      color: $color-blue;

      .share-icon{
        font-size: $font-size-small;
      }

      &:hover {
        color: $color-dark-blue;
      }
    }
  }

  .page-content {
    max-width: 1000px;
    margin: auto;
  }
}

.popover-input {
  display: inline-block;
  border: $border-light;
  height: 30px;
  outline: none;
  font-size: $font-size-small;
  width: 250px;
}

.popover-copy {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  color: $color-blue;

  &:hover {
    color: $color-dark-blue;
  }
}

.error-message{
  max-width: 1000px;
  margin: auto;
}

.authors {
  margin-bottom: 20px;
}

.abstract{
  padding: 5px 10px 15px 20px;
}

.ePicPid{
  padding: 5px 10px 15px 20px;
}

.link {
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: $color-blue;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-blue, 10%);
  }
}

.spinner{
  display: inline-block;
}

.samples {
  margin-top: 20px;

  .samples-category {
    color: $color-blue;
    cursor: pointer;
    line-height: 26px;

    &:hover {
      color: $color-dark-blue;
    }
  }
}

.files {
  margin-top: 20px;

  .file {
    color: $color-blue;
    line-height: 26px;
  }
}

.back-button {
  color: $color-blue;
  display: inline-block;
  cursor: pointer;
}
