@import '../../../variables';

.page {
  background-color: $color-gray;
  min-height: calc(100vh - 40px);

  .page-content {
    min-width: 1000px;
    padding: 30px;
    padding-top: 20px;

    .page-title {
      font-size: $font-size-enormous;
    }
    .page-subtitle {
      margin-bottom: 20px;
    }
  }
}
