@import '../../../variables';

.page {
  background-color: $color-gray;
  min-height: calc(100vh - 40px);
  padding-bottom: 40px;

  .page-content {
    min-width: 1000px;
    padding: 30px;
    padding-top: 0;

    .page-title {
      font-size: $font-size-enormous;
      margin-top: 20px;
      margin-bottom: 20px;

      &.with-subtitle {
        margin-bottom: 5px;
      }
    }

    .page-subtitle {
      margin-bottom: 20px;

      .link {
        cursor: pointer;
        color: $color-blue;

        &:hover {
          color: $color-dark-blue;
        }
      }

      .divider{
        margin: 5px;
      }
    }
  }

  .header {
    color: darken($color-gray, 50%);
    padding: 0 30px;
    background-color: white;
    height: 40px;
    line-height: 40px;
    font-size: $font-size-small;
    border-bottom: 1px solid darken($color-gray, 10%);

    .link {
      cursor: pointer;

      &:hover {
        color: $color-dark-blue;
      }
    }
  }

}
