<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 sidebar">
      <filter-sidebar></filter-sidebar>
    </div>

    <div class="col-xs-9 col-xs-offset-3 main">
      <div class="h1">
        Results
        <spinner *ngIf="!ready"></spinner>
        <button class="btn btn-success addAllResultsButton" (click)="addAllResultsToSelection()">
          <span class="glyphicon glyphicon-plus"></span> Select All Results
        </button>
      </div>
      <div class="resultsCounts">
        {{ numMatchingStudies }} studies, {{ numMatchingSamples }} samples
      </div>

      <div class="row">

        <!-- Have to expand *ngFor manually here to insert clearfix every 3 items -->
        <template ngFor let-studyMatch [ngForOf]="matches" let-i="index">
          <div class="col-md-4">

            <div class="panel"
                 [class.panel-default]="studySelectedState(studyMatch) === 'no'"
                 [class.panel-success]="studySelectedState(studyMatch) === 'yes'"
                 [class.panel-warning]="studySelectedState(studyMatch) === 'partial'"
            >
              <div class="panel-heading">

                <a (click)="$event.preventDefault(); detailModal.show()" href="#">
                  <h3 class="panel-title" style="float:left;width:80%">{{ studyMatch.study._source['STUDY']['Study Title'] }}</h3>
                </a>

                <div [ngSwitch]="studySelectedState(studyMatch)" class="panel-heading-plus-minus-buttons">

                  <a *ngSwitchCase="'no'" href="#" class="btn btn-success btn-xs" role="button"
                     (click)="$event.preventDefault(); selectStudy(studyMatch)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </a>

                  <a *ngSwitchCase="'partial'" href="#" class="btn btn-success btn-xs" role="button"
                     (click)="$event.preventDefault(); selectStudy(studyMatch)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </a>
                  <a *ngSwitchCase="'partial'" href="#" class="btn btn-danger btn-xs" role="button"
                     (click)="$event.preventDefault(); deselectStudy(studyMatch)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </a>

                  <a *ngSwitchCase="'yes'" href="#" class="btn btn-danger btn-xs" role="button"
                     (click)="$event.preventDefault(); deselectStudy(studyMatch)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </a>

                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <p>by {{ studyMatch.study._source['STUDY']['Study Researchers Involved'] }}</p>

                <a (click)="areSamplesShown[studyMatch.study._id] = !areSamplesShown[studyMatch.study._id]" href="javascript:void(0)">
                  <span *ngIf=" !areSamplesShown[studyMatch.study._id]" class="glyphicon glyphicon-triangle-right"></span>
                  <span *ngIf="!!areSamplesShown[studyMatch.study._id]" class="glyphicon glyphicon-triangle-bottom"></span>
                  {{ studyMatch.sampleMatches.length }} matching samples
                  ({{ countMatchingSamplesInSelection(studyMatch) }} selected)
                </a>

                <div [collapse]="!areSamplesShown[studyMatch.study._id]">
                  <ul style="list-style: none">
                    <li *ngFor="let sampleMatch of sortSampleMatches(studyMatch.sampleMatches)">
                      <div class="showonhover">

                        <a *ngIf="!isSampleSelected(studyMatch.study._id, sampleMatch._id)" href="#"
                           class="btn btn-success btn-xs" role="button"
                           (click)="$event.preventDefault(); selectSample(studyMatch.study._id, sampleMatch._id)">
                          <span class="glyphicon glyphicon-plus"></span>
                        </a>

                        <a *ngIf="isSampleSelected(studyMatch.study._id, sampleMatch._id)" href="#"
                           class="btn btn-danger btn-xs" role="button"
                           (click)="$event.preventDefault(); deselectSample(studyMatch.study._id, sampleMatch._id)">
                          <span class="glyphicon glyphicon-minus"></span>
                        </a>

                        <b>{{ sampleMatch._source['Sample Name'] }}</b>
                        <span *ngFor="let kv of filteredDistinctKeyValues(studyMatch.study._id, sampleMatch) | mapToIterable; let isLast = last">
                          <i>{{ kv.key }}</i>: {{ kv.val }}<span *ngIf="!isLast">, </span>
                        </span>

                        <div class="hovertext">
                          <div *ngFor="let kv of distinctKeyValues(studyMatch.study._id, sampleMatch) | mapToIterable">
                            <b>{{ kv.key }}</b>: {{ kv.val }}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="panel-footer">
                <div class="btn-group btn-group-xs" style="float:right">
                  <a *ngFor="let pubmedId of pubmedIdsOf(studyMatch.study)"
                     class="btn btn-default" role="button"
                     pubmed-link [pubmedId]="pubmedId">
                    PubMed
                  </a>

                  <a *ngFor="let doi of doisOf(studyMatch.study)"
                     class="btn btn-default" role="button"
                     doi-link [doi]="doi">
                    DOI
                  </a>

                  <a [href]="studyMatch.study._source['*Archive URL']"
                     class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Download
                  </a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>

          <div bsModal #detailModal="bs-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="detailModal.hide()">&times;</button>
                  <h4 class="modal-title">{{ studyMatch.study._source['STUDY']['Study Title'] }}</h4>
                </div>
                <div class="modal-body">
                  <study [studyId]="studyMatch.study._id"></study>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="detailModal.hide()">Close</button>
                </div>
              </div>

            </div>
          </div>


          <div *ngIf="((i + 1) % 3) === 0" class="clearfix"></div>
        </template>
      </div>

    </div>

    <div class="col-xs-3 footer-fixed-bottom nav">
      <li>
        <a href="javascript:void(0)" (click)="clearFilters()">
          <span class="glyphicon glyphicon-ban-circle"></span> Clear Filters
        </a>
      </li>
    </div>
  </div>

</div>
