.showonhover .hovertext {
  display: none;
  position:relative;
  font-size: 10px;
  left: 20%;
  z-index: 999;
  background:#e0e0e0;
  padding:0px 7px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);

  opacity: 0;
  transition:opacity 0.4s ease-out;
}
.showonhover:hover .hovertext {
  position: absolute;
  display: block;
  opacity: 1;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  margin-bottom: 60px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/*
 * Footer
 */

.footer-fixed-bottom {
  position: fixed;
  bottom: 0px;
  height: 60px;
  left: 0;
  z-index: 1001;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}

/*
 * Main content
 */

.main {
  padding-right: 20px;
  padding-left: 20px;
}
.main .page-header {
  margin-top: 0;
}

.resultsCounts {
  font-size: 90%;
  margin-bottom: 20px;
  font-style: oblique;
}

.addAllResultsButton {
  float: right;
  margin-top: 20px;
}

/*
 * Corrections for panel headings
 */
div.panel-heading {
  position: relative;
}

div.panel-heading-plus-minus-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
