.showonhover .hovertext {
  display: none;
  position:relative;
  font-size: 10px;
  left: 20%;
  z-index: 999;
  background:#e0e0e0;
  padding:0px 7px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);

  opacity: 0;
  transition:opacity 0.4s ease-out;
}
.showonhover:hover .hovertext {
  position: absolute;
  display: block;
  opacity: 1;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  margin-bottom: 60px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  list-style: none;
}
.nav-sidebar > li {
  padding-bottom: 10px;
}
.nav-sidebar > li > a {
  padding: 10px 0;
}

.nav-sidebar .searchbox label {
  float: left;
}
.nav-sidebar .searchbox span {
  display: block;
  overflow: hidden;
}
.nav-sidebar .searchbox span > input[type="text"] {
  width: 95%;
  margin-left: 10px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar label.disabled {
  color: darkgrey;
}
.nav-sidebar > li > ul > li {
  padding-bottom: 10px;
}
.nav-sidebar > li > ul > li > a {
  position: static;
  display: inline;
  padding: 0px;
  font-weight: bold;
}
.nav-sidebar > li > ul > li > div {
  width: auto;
}
.nav-sidebar > li > ul > li > div > label > a {
  padding: 10px 0;
  font-weight: bold;
  text-decoration: none;
}
.nav-sidebar > li > ul > li > div > label > a:hover {
  text-decoration: none;
}
.nav-sidebar > li > ul > li > label {
  font-weight: bold;
}

.nav-sidebar > li > ul {
  padding-left: 20px;
}
.nav-sidebar > li > ul > li > ul {
  padding-left: 40px;
}

.nav-sidebar .count {
  display: inline-block;
  position: absolute;
  right: 20px;
  font-style: italic;
  font-size: 80%;
  padding-top: 2px;
  width: 100%;
  text-align: right;
}

/*
 * Footer
 */

.footer-fixed-bottom {
  position: fixed;
  bottom: 0px;
  height: 60px;
  left: 0;
  z-index: 1001;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.main .page-header {
  margin-top: 0;
}

/*
 * Collapsible filters
 */

.triangle-icon span.glyphicon-triangle-bottom{ display:inline-block; }
.triangle-icon span.glyphicon-triangle-right { display:none;}

.triangle-icon.collapsed span.glyphicon-triangle-right{ display:inline-block; }
.triangle-icon.collapsed span.glyphicon-triangle-bottom { display:none;}

