@import '../../../../variables';

.container-fluid {
  padding: 0;
  margin: 0;
}

.sidebar {
  margin-left: 0;
  padding-left: 0;
  min-width: 280px;
  height: calc(100vh - 50px);
  display: block;
  background-color: $color-gray;
  border-right: 1px solid darken($color-gray, 10%);
}

.main {
  padding: 20px;
}

.submenu {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: lighten($color-dark-blue, 10%);
  //background-color: red;
}

.submenu-menu {
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: white;
  font-size: 0;

  .link {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    font-size: $font-size-normal;
    text-align: left;
    padding: 0 20px;
    background-color: lighten($color-dark-blue, 10%);

    &.active {
      background-color: $color-blue;
    }

    &:hover {
      background-color: $color-blue;
    }
  }
}
