@import '../../../../../variables';

.category {
  font-size: $font-size-small;
  padding-left: 30px;
}

.category-elements {
  font-size: $font-size-small;
  padding-left: 30px;

  .none-yet {
    color: darken($color-gray, 30%);
    padding-left: 30px;
    margin-bottom: 15px;
  }

  .category-element {
    color: $color-blue;
    display: inline-block;
  }
}
