@import '../../../../variables';

.header {
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid $color-medium;
  background-color: $color-dark-blue;
  color: $color-light;

  .logo {
    height: 35px;
    margin: 0 20px;
  }

  .header-links {
    display: inline-block;
    font-size: 0;
    vertical-align: top;

    .header-link {
      vertical-align: top;
      display: inline-block;
      font-size: $font-size-normal;
      padding: 0 20px;
      text-align: center;
      cursor: pointer;
      outline: 0;

      &:hover {
        background-color: $color-blue;
        color: white;
      }

      &.active {
        background-color: $color-blue;
        color: white;
      }
    }
  }

  .admin-link {
    float: right;
    vertical-align: top;
    display: inline-block;
    font-size: $font-size-normal;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    outline: 0;

    &:hover {
      background-color: $color-blue;
      color: white;
    }

    &.active {
      background-color: $color-blue;
      color: white;
    }
  }
}
