.top-level-li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fullLabel {
  margin-bottom: -10px;
}
.fullLabel > a {
  position: static;
  display: inline;
  padding: 0px;
}
.my-label {
  width: auto;
  max-width: 80%;
  vertical-align: top;
}
.my-label a {
  padding: 10px 0;
  text-decoration: none;
  font-weight: normal;
}
.my-label a:hover {
  text-decoration: underline;
}
.units {
  font-size: 90%;
  font-style: oblique;
  padding-left: 38px;
  padding-top: 7px;
}

ul li {
  position: relative;
  margin-right: 10px;
  width: 100%;
}

ul li label {
  margin-right: 40px;
}

.checkbox{
  position: relative;
}

.count {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  font-style: italic;
  font-size: 80%;
  padding-top: 2px;
  text-align: right;
}
.disabled {
  color: #c0c0c0;
}

.slider-box {
  position: relative;
  margin-left: 30px;
  padding-top: 20px;
}

.slider-box > .actualRange {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  overflow: visible;
  text-align: center;
}

.slider-box > .minValue {
  position: absolute;
  left: 0px;
  top: 50px;
}

.slider-box > .maxValue {
  position: absolute;
  right: 0px;
  top: 50px;
}

.slider-box > ng2-slider {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.slider-box > .checkbox {
  margin-top: 25px;
}
