@import "/assets/fonts";
@import "./variables";

//=======================================//
//======= BOOTSTRAP OVERWRITES ==========//
//=======================================//

ngb-modal-window {
  overflow-x: auto !important;

  &.large-window {
    .modal-dialog {
      min-width: 1080px;
      width: calc(100vw - 300px);
      max-width: 1200px;
      margin: 60px auto;

      .modal-content {
        border-radius: 10px;
      }
    }
  }

  &.medium-window {
    .modal-dialog {
      min-width: 600px;
      width: calc(100vw - 300px);
      max-width: 600px;
      margin: 60px auto;

      .modal-content {
        border-radius: 10px;
      }
    }
  }
}

@import '../node_modules/bootstrap/scss/bootstrap';

//============================//
//======== NO SELECT =========//
//============================//

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

//============================//
//======= BODY HTML ==========//
//============================//

body {
  font-family: 'Open Sans', 'serif';
  font-size: $font-size-normal;
  padding: 0;
  margin: 0;
  min-width: 1365px;
}

a {
  color: $color-blue;
}
