//==================================//
//============= COLORS =============//
//==================================//

//$color-darkest: #4E5869;
//$color-dark: #8A95A2;
//$color-medium: #D6DBDD;
//$color-light: #FAFBFC;

$color-light: #eeeae2;
$color-medium: #A79C87;
$color-blue: #6090c2;
$color-dark-blue: #2c4b6b;
$color-gray: #f5f5f5;

//==================================//
//========== FONT SIZES ============//
//==================================//

$font-size-giant: 3.0rem;
$font-size-enormous: 1.6rem;
$font-size-huge: 1.3rem;
$font-size-bigger: 1.2rem;
$font-size-big: 1.0rem;
$font-size-normal: 0.9rem;
$font-size-small: 0.8rem;
$font-size-smaller: 0.7rem;
$font-size-tiny: 0.6rem;

//==========================================//
//========== BORDERS ============//
//==========================================//
$border-light: 1px solid $color-light;
$border-dark: 1px solid $color-medium;

//==============================//
//========== SHADOW ============//
//==============================//
$shadow-subtle: 0px 3px 6px rgba(30,30,30,0.2);


