@import '../../../../../variables';

.sidebar {
  min-width: 280px;
  width: 100%;

  .sidebar-header {
    padding: 10px 20px;

    .searchbox {
      position: relative;
      line-height: 40px;
      height: 40px;

      label {
        vertical-align: top;
        display: inline-block;
      }

      .input {
        vertical-align: top;
        display: inline-block;
        overflow: hidden;

        .searchText {
          height: 30px;
          width: 200px;
        }
      }
    }

    .properties-description {
      height: 30px;
      line-height: 30px;
      text-align: left;

      a { outline: none; }
    }
  }

  .searchbox span > input[type="text"] {
    width: 70%;
    margin-left: 10px;
  }

  .searchbox spinner {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .filter-panel {

    .filter-heading {
      width: 100%;
      background-color: $color-blue;
      color: white;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-bottom: 10px;
    }
  }
}
