@import '../../../../../variables';

.sidebar {
  min-width: 280px;
  width: 100%;

  .sidebar-header {
    .searchbox {
      position: relative;

      .search-title {
        background-color: $color-blue;
        color: white;
        padding: 0 20px;
        line-height: 40px;
        height: 40px;

        .info-icon {
          float: right;
          font-size: $font-size-small;
          color: $color-gray;
          margin-right: 10px;
        }
      }

      .search-content {
        vertical-align: top;
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;

        .searchText {
          height: 30px;
          width: 100%;
        }
      }
    }

    .properties-description {
      height: 30px;
      line-height: 30px;
      text-align: left;

      a {
        outline: none;
      }
    }
  }

  .searchbox span > input[type="text"] {
    width: 70%;
    margin-left: 10px;
  }

  .searchbox spinner {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .filter-panel {

    .filter-heading {
      width: 100%;
      background-color: $color-blue;
      color: white;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
    }

    .filter-content {
      background-color: $color-gray;
    }
  }

  .shortcut {
    float: right;
    cursor: pointer;
    font-size: $font-size-small;
    color: $color-gray;

    &:hover {
      color: white;
    }
  }
}
