# EC2 instance in eu-west-1 AWS region
# Running CentOS 7.4 release 1708 (x86_64)
# (full details: CentOS-7-x86_64-EBS-HVM-20180318_121109-877e76fd-a132-410c-9982-c70ca8e41d88-ami-f5cb0388.4 (ami-8dd683f4))
# Rebuild from scratch using Ansible playbook
#
# Possibly useful SSH tunnels:
# - 80: nginx, serving HTTP traffic
# - 443: nginx, serving HTTPS traffic
# - 5432: postgres
# - 9200: elasticsearch
# - 8889: remote IPython Notebook
#
Host awscbit
  HostName 99.81.21.33
  User centos
  IdentityFile /Users/maartenthoelen/_aws/keys/cbit-prd.pem
  #LocalForward 80 localhost:80
  #LocalForward 443 localhost:443
  #LocalForward 5432 localhost:5432
  #LocalForward 9200 localhost:9200
  #LocalForward 8889 localhost:8888
