@import '../../../../../../variables';

.title-panel {
  .title {
    font-size: $font-size-enormous;

    .instructions {
      font-size: $font-size-small;
      height: 35px;
      line-height: 35px;
      float: right;
      margin-right: 15px;
    }
  }

  .match-count {
    display: inline-block;
    margin: 5px 0;
  }


  .sorting {
    padding-right: 30px;
    display: inline-block;
    color: $color-blue;
    cursor: pointer;
    position: relative;

    &:hover {
      color: $color-dark-blue;
    }

    .sorting-options {
      min-width: 160px;
      z-index: 1000;
      position: absolute;
      left: 0;
      text-align: left;
      border: 1px solid darken($color-gray, 10%);
      background-color: white;

      .sorting-option {
        background-color: $color-gray;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        outline: 0;
        border-bottom: 1px solid darken($color-gray, 10%);

        &:hover {
          background-color: $color-blue;
          color: white;
        }
      }

      div:last-child {
        border-bottom: none;
      }
    }
  }

  .filters {
    .filter-header {
      display: inline-block;
      margin-right: 5px;
    }

    .filter {
      display: inline-block;

      .filter-item {
        display: inline-block;
        min-width: 60px;
        margin-right: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        line-height: 25px;
        padding: 0 10px;
        height: 26px;
        border-radius: 5px;
        cursor: pointer;
        font-size: $font-size-smaller;
        background-color: lighten($color-blue, 10%);
        color: white;

        .remove {
          margin-left: 5px;
          opacity: 0;
          float: right;
        }

        &:hover {
          .remove {
            opacity: 1;
          }
        }

        &.not-focused {
          opacity: 0.3;
        }
      }
    }
  }
}

.results {
  div:first-child {
    margin-top: 0;
  }

  .row {
    margin-top: 20px;
  }
}
